<%= form_for(@vermifuge) do |f| %>
  <% if @vermifuge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vermifuge.errors.count, "error") %> prohibited this vermifuge from being saved:</h2>

      <ul>
      <% @vermifuge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_name %><br>
    <%= f.text_field :manufacturer_name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :dose %><br>
    <%= f.text_field :dose %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
