<p id="notice"><%= notice %></p>

<h1>Listing Vermifuges</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Manufacturer name</th>
      <th>Date</th>
      <th>Dose</th>
      <th>Notes</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vermifuges.each do |vermifuge| %>
      <tr>
        <td><%= vermifuge.title %></td>
        <td><%= vermifuge.manufacturer_name %></td>
        <td><%= vermifuge.date %></td>
        <td><%= vermifuge.dose %></td>
        <td><%= vermifuge.notes %></td>
        <td><%= vermifuge.image %></td>
        <td><%= link_to 'Show', vermifuge %></td>
        <td><%= link_to 'Edit', edit_vermifuge_path(vermifuge) %></td>
        <td><%= link_to 'Destroy', vermifuge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vermifuge', new_vermifuge_path %>
