<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vermifuge.title %>
</p>

<p>
  <strong>Manufacturer name:</strong>
  <%= @vermifuge.manufacturer_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vermifuge.date %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @vermifuge.dose %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @vermifuge.notes %>
</p>

<p>
  <strong>Image:</strong>
  <%= @vermifuge.image %>
</p>

<%= link_to 'Edit', edit_vermifuge_path(@vermifuge) %> |
<%= link_to 'Back', vermifuges_path %>
