<%= form_for(@bath_reminder) do |f| %>
  <% if @bath_reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bath_reminder.errors.count, "error") %> prohibited this bath_reminder from being saved:</h2>

      <ul>
      <% @bath_reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bath_id %><br>
    <%= f.text_field :bath_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
