<p id="notice"><%= notice %></p>

<h1>Listing Bath Reminders</h1>

<table>
  <thead>
    <tr>
      <th>Bath</th>
      <th>Title</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bath_reminders.each do |bath_reminder| %>
      <tr>
        <td><%= bath_reminder.bath %></td>
        <td><%= bath_reminder.title %></td>
        <td><%= bath_reminder.date %></td>
        <td><%= link_to 'Show', bath_reminder %></td>
        <td><%= link_to 'Edit', edit_bath_reminder_path(bath_reminder) %></td>
        <td><%= link_to 'Destroy', bath_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bath reminder', new_bath_reminder_path %>
