<p id="notice"><%= notice %></p>

<p>
  <strong>Bath:</strong>
  <%= @bath_reminder.bath %>
</p>

<p>
  <strong>Title:</strong>
  <%= @bath_reminder.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bath_reminder.date %>
</p>

<%= link_to 'Edit', edit_bath_reminder_path(@bath_reminder) %> |
<%= link_to 'Back', bath_reminders_path %>
