<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @owner.birth %>
</p>

<p>
  <strong>Username:</strong>
  <%= @owner.username %>
</p>

<p>
  <strong>Image:</strong>
  <%= @owner.image %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
