<%= form_for(@appointment_reminder) do |f| %>
  <% if @appointment_reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment_reminder.errors.count, "error") %> prohibited this appointment_reminder from being saved:</h2>

      <ul>
      <% @appointment_reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_id %><br>
    <%= f.text_field :appointment_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
