<p id="notice"><%= notice %></p>

<h1>Listing Appointment Reminders</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Title</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointment_reminders.each do |appointment_reminder| %>
      <tr>
        <td><%= appointment_reminder.appointment %></td>
        <td><%= appointment_reminder.title %></td>
        <td><%= appointment_reminder.date %></td>
        <td><%= link_to 'Show', appointment_reminder %></td>
        <td><%= link_to 'Edit', edit_appointment_reminder_path(appointment_reminder) %></td>
        <td><%= link_to 'Destroy', appointment_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment reminder', new_appointment_reminder_path %>
