<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @appointment_reminder.appointment %>
</p>

<p>
  <strong>Title:</strong>
  <%= @appointment_reminder.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment_reminder.date %>
</p>

<%= link_to 'Edit', edit_appointment_reminder_path(@appointment_reminder) %> |
<%= link_to 'Back', appointment_reminders_path %>
