<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bath.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bath.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bath.notes %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bath.price %>
</p>

<%= link_to 'Edit', edit_bath_path(@bath) %> |
<%= link_to 'Back', baths_path %>
