<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @weight.pet %>
</p>

<p>
  <strong>Value:</strong>
  <%= @weight.value %>
</p>

<p>
  <strong>Date:</strong>
  <%= @weight.date %>
</p>

<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Back', weights_path %>
