<p id="notice"><%= notice %></p>

<h1>Listing Vaccines</h1>

<table>
  <thead>
    <tr>
      <th>Pet</th>
      <th>Veterinary name</th>
      <th>Parent vaccine</th>
      <th>Notes</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vaccines.each do |vaccine| %>
      <tr>
        <td><%= vaccine.pet %></td>
        <td><%= vaccine.veterinary_name %></td>
        <td><%= vaccine.parent_vaccine %></td>
        <td><%= vaccine.notes %></td>
        <td><%= vaccine.date %></td>
        <td><%= link_to 'Show', vaccine %></td>
        <td><%= link_to 'Edit', edit_vaccine_path(vaccine) %></td>
        <td><%= link_to 'Destroy', vaccine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaccine', new_vaccine_path %>
