<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @vaccine.pet %>
</p>

<p>
  <strong>Veterinary name:</strong>
  <%= @vaccine.veterinary_name %>
</p>

<p>
  <strong>Parent vaccine:</strong>
  <%= @vaccine.parent_vaccine %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @vaccine.notes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vaccine.date %>
</p>

<%= link_to 'Edit', edit_vaccine_path(@vaccine) %> |
<%= link_to 'Back', vaccines_path %>
