<%= form_for(@vermifuge_reminder) do |f| %>
  <% if @vermifuge_reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vermifuge_reminder.errors.count, "error") %> prohibited this vermifuge_reminder from being saved:</h2>

      <ul>
      <% @vermifuge_reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vermifuge_id %><br>
    <%= f.text_field :vermifuge_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
