<p id="notice"><%= notice %></p>

<h1>Listing Vermifuge Reminders</h1>

<table>
  <thead>
    <tr>
      <th>Vermifuge</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vermifuge_reminders.each do |vermifuge_reminder| %>
      <tr>
        <td><%= vermifuge_reminder.vermifuge %></td>
        <td><%= vermifuge_reminder.date %></td>
        <td><%= link_to 'Show', vermifuge_reminder %></td>
        <td><%= link_to 'Edit', edit_vermifuge_reminder_path(vermifuge_reminder) %></td>
        <td><%= link_to 'Destroy', vermifuge_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vermifuge reminder', new_vermifuge_reminder_path %>
