<p id="notice"><%= notice %></p>

<p>
  <strong>Vermifuge:</strong>
  <%= @vermifuge_reminder.vermifuge %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vermifuge_reminder.date %>
</p>

<%= link_to 'Edit', edit_vermifuge_reminder_path(@vermifuge_reminder) %> |
<%= link_to 'Back', vermifuge_reminders_path %>
